@charset "utf-8";
/* CSS Document */
body,html{
    width: 100%;
    height: 100%;
    background: #f9f9f9;
}
body,p,h1,h2,h3,h4,h5,h6,ul,dl,dd,td,input,fieldset,textarea,option{ margin:0; padding:0;}
li{list-style:none;}
a{text-decoration:none; color:#333;}
img{border:none; vertical-align:top; }
a,input{outline:none;}
h1,h2,h3,h4,h5,h6,b,strong{font-weight:100;}
i,em{font-style:normal;}
body{font:12px "微软雅黑";}

.clear{zoom:1;}
.clear:after{content:"."; display:block; clear:both; height:0; visibility:hidden;}

.fl{float:left;}
.fr{float:right;}

#app,.wrapper,.el-container.is-vertical,.el-aside{
    height: 100%;
}
.el-aside{
    background-color:rgb(85, 94, 100); 
}
//覆盖样式
.el-table__body tr.current-row > td {
    background: rgba(253, 146, 250, 0.14) !important;
}
.el-menu-item.is-active{
    color: #fff;
    &.active{
      color: #ff35f7;
    }
  }
.warning{
    color: #EB9E05;
    cursor: pointer;
}
.el-menu-item-group.sonMenu > ul > .el-menu-item{
    background-color: #483e48 !important;
    font-size: 13px;
    padding-left: 55px !important;
    &:hover{
    background-color: #403140 !important;
    }
}
